@import '../styles/colors'
@import '../styles/responsive'
@import '../styles/image-box'

.conferences
  article
    h2
      border-bottom 1px black solid
      display block

    a.anchor
      color black
      text-decoration none

    .body
      display flex
      flex-direction row
      align-items flex-start
      justify-content space-between

    figure
      margin 0

    img
      width 350px
      height auto

    section
      margin-left: 1rem;
      p:first-of-type
        margin-top 0
        padding-top 0