@import '../styles/colors'
@import '../styles/responsive'
@import '../styles/image-box'

.people
  max-width 940px

  &__lab-photo
    display block
    margin 0 auto
    width 80%

    +mobile()
      width 100%

    &-image
      display block
      width 100%
      height auto
      padding 0
      margin 0

    & figcaption p
      padding 0
      margin 2px 0


  &-group
    max-width 100%

  &-list
    list-style none
    margin 0
    padding 0
    display flex
    align-items flex-start
    justify-content space-between
    flex-wrap wrap
    max-width 100%

    .person
      margin-bottom 2rem
