.publications
  max-width 940px
  list-style none
  margin 0
  padding 0

  &-item
    margin-bottom 2rem
    line-height 1.5
    font-size 1.0rem

    &:last-child
      margin-bottom 0

  &-markdown
    ul
      li
        line-height 1.5
        font-size 1.0rem
