.background-carousel
  background no-repeat center center
  background-size cover
  position relative

  &-overlay
    background no-repeat center center
    background-size cover
    position absolute
    top 0
    left 0
    right 0
    bottom 0
