@import '../styles/colors'
@import '../styles/responsive'

header-height = 85px
footer-height = 240px

content-width = 940px

.layout
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  min-height 100vh
  width 100%

  &-content
    margin 5rem 0
    flex-grow 1

    +normal()
      width content-width

    +tablet()
      padding 0 2rem

.header
  background-color white // theme-purple(lightness: 95%, alpha: 0.8)
  display flex
  flex-direction row
  justify-content center
  align-items center
  min-height header-height
  width 100%
  flex-grow 0
  flex-shrink 1
  padding 20px 1rem

  +desktop()
    height header-height
    padding 20px 0

  &-container
    display flex
    flex-direction row
    align-items center
    justify-content center
    font-size 16px
    margin 0
    padding 0
    width content-width
    max-width 100%
    transition all 0.3s ease-in-out

    &__left
      display flex
      flex-direction row
      flex-grow  1
      align-items center
      justify-content flex-start

  &-logo
    margin-right 1rem
    height 64px

  &-title
    display flex
    justify-content center
    align-items flex-start

    +desktop()
      flex-direction row

    +tablet()
      flex-direction column

    &__university
      margin-right 0.25rem
      order 0

      +tablet()
        order 1

    &__lab
      order 1

      +tablet()
        order 0

    &__right
      display flex
      flex-grow 0
      flex-direction row
      align-items center
      justify-content flex-end

.collapsible
  display flex
  transition all 0.3s ease-in-out
  +desktop()
    flex-direction row

  +mobile()
    flex-direction column
    align-items flex-end
    width 200px

  &-mobile-button
    width 2.5rem
    height 2rem
    display none

    +mobile()
      display flex
      flex-direction column
      align-items center
      justify-content space-between
      padding 0.5rem 0

    hr
      border-style solid
      margin 0
      padding 0
      width 1rem

  &-content
    display flex
    flex-direction row
    list-style none
    margin 0
    padding 0

    +mobile()
      display none
      flex-direction column
      align-items flex-end

    &.collapsible-content--open
      +mobile()
        display flex

    .item
      margin-left 1rem
      margin-bottom 0

      +mobile()
        margin-bottom 0.5rem
        margin-left 0


.footer
  min-height footer-height
  width 100%
  background-color theme-purple(saturation: 20%)
  color white
  flex-grow 0
  flex-shrink 1

  &-container
    margin 0 auto
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    max-width content-width
    min-height footer-height
    padding 2rem 0

    +tablet()
      padding 0 1rem

    +mobile()
      flex-direction column
      align-items center

  &-list
    list-style none
    margin 0
    padding 0
    font-size 0.9rem

    +mobile()
      text-align center

    li
      margin 0.5rem 0

  &-link
    color white

  &-info // gah, this is an awful name, suggestions welcome :D
    max-width 400px

    +not-mobile()
      text-align right

    li
      margin 0.5rem 0
