@import '../styles/colors'
@import '../styles/responsive'

.person
  display flex
  flex-direction column
  align-items center
  justify-content flex-start
  padding 1rem
  border: 1px theme-purple(alpha: 0.25) solid

  +desktop()
    width 280px

  +tablet()
    border: none
    border-bottom: 1px theme-purple(alpha: 0.5) solid

  +mobile()
    min-width 280px
    flex-grow 1

  &-header
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    width 100%

    &--with-content
      border-bottom 1px theme-purple() solid
      margin-bottom 1rem
      padding-bottom 1rem

  &-name,
  &-position
    margin 0
    padding 0
    font-weight bold

  &-name
    font-size 1rem

  &-position
    font-weight bold
    font-size 0.8rem

  &-text
    align-self flex-start
    line-height 1.3
    width 100%

    &--with-footer
      padding-bottom 0.5rem
      margin-bottom 0.5rem
      border-bottom 1px theme-purple(alpha: 0.2) solid

  &-footer
    align-self flex-start
    display flex
    flex-direction row
    align-items flex-start
    justify-content flex-start
    width 100%

    &-link
      margin-right 0.75rem

    img
      height 18px
      width auto
